/empty-project-page.html
/projects/day-prediction/
/projects/icequakes-project/
/projects/memory-game/
/projects/scraper-app/
/projects/weekly-planner/
/projects/cash-register.js
/projects/number-formatting.js