* {
    font-family: monaco;
    padding: 0;
    margin: 0;
}

main {
    background-color: blanchedalmond;
}


/* -----Header----- */

header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 30px;
    color: white;
    padding: 5px;
}

#expand-wrap {
    border: 2px solid white;
    margin-left: 20px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    transition-duration: 1000ms;
}

#expand-wrap:hover {
    width: 180px;
    transition-duration: 1000ms;
}

nav {
    height: 100%;
}

header ul {
    display: flex;
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    display: block;
    padding: 20px;
    transition-duration: 200ms;
}

header li:hover {
    background-color: darkgrey;
    transition-duration: 200ms;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}


/* -----Main structure----- */

#page-container {
    position: relative;
    min-height: 100vh;
    top: 80px;
}



/* -----Intro----- */

#hero {
    background-image: url("./figures/hero-background.avif");
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    height: 400px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay * {
    position: relative;
} 

#overlay {
    text-align: center;
}

#overlay h1, h2 {
    z-index: 2;
    color: white;
}

h1 {
    font-size: 3rem;
}

#headline-wrap {
    width: 100%;
    height: 100px;
}

/* -----Bio----- */

#bio {
    position: relative;
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
    height: 400px;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid orange;
    border-radius: 10px;
}

#bio a {
    color : red;
}

#bio ul {
    width: 80%;
}

#bio li {
    margin: 15px;
    list-style-type: circle;
}

#bio h2 {
    color: orange;
    margin-bottom: 20px;
}

/* -----Journey----- */

#journey {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dotted brown;
    width: 80%;
    max-width: 800px;
    height: 400px;
    border-radius: 10px;
    margin: 50px auto;
    background-color: lightcyan;
}

#journey h2 {
    color: brown;
    margin-bottom: 20px;
}

table {
    width: 80%;
    text-align: left;
    border-spacing: 15px;
}

table th {
    width: 30%;
}

/* -----Projects----- */

#projects {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#wrap-projects {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template: 300px / repeat(3, 1fr);
    gap: 20px 0px;
    justify-content: center;
    justify-items: center;
    border: 1px solid black;
}

#project-widnow {
    width: 90%;
    height: 300px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;

}

#project-view {
    height: 75%;
    width: 100%;
    border: 1px solid green;
}

#project-name {
    height: 24%;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects h2 {
    font-size: 3em;
    color: black;
}

/* -----Contact----- */

#contact {
    position: relative;
    margin-top: 50px;
    background-color: grey;
    color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact * {
    padding: 10px;
}

#linkedin-icon {
    height: 20px;
    width: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    transition-duration: 200ms;
}

#linkedin-icon:hover {
    background-color: darkgrey;
    transition-duration: 200ms;
}


/* -----Footer----- */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -----Medias----- */

@media only screen and (min-width: 850px) and (max-width: 1200px) {
    #wrap-projects {
        grid-template: repeat(2, 300px) / repeat(2, 1fr);
    }
}

@media only screen and (max-width: 849px) {
    #wrap-projects {
        grid-template: repeat(3, 300px) / repeat(1, 1fr);
    }
}

