* {
    font-family: monaco;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    background-color: blanchedalmond;
}


/* -----Header----- */

header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 30px;
    color: white;
    padding: 5px;
}

#expand-wrap {
    border: 2px solid white;
    margin-left: 20px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    transition-duration: 1000ms;
}

#expand-wrap:hover {
    width: 180px;
    transition-duration: 1000ms;
}

nav {
    height: 100%;
}

header ul {
    display: flex;
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    display: block;
    padding: 20px;
    transition-duration: 200ms;
}

header li:hover {
    background-color: darkgrey;
    transition-duration: 200ms;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}


/* -----Main structure----- */

#page-container {
    position: relative;
    min-height: 100vh;
    top: 80px;
}

/* -----Intro----- */

#hero {
    background-image: url("./figures/hero-background.avif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay * {
    position: relative;
} 

#overlay {
    text-align: center;
}

#overlay h1, h2 {
    z-index: 2;
    color: white;
}

h1 {
    font-size: 3rem;
}

#headline-wrap {
    width: 100%;
    height: 100px;
}

/* -----Bio----- */

#bio {
    position: relative;
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
    min-height: 400px;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid orange;
    border-radius: 10px;
}

#bio a {
    color : red;
}

#bio ul {
    width: 80%;
}

#bio li {
    margin: 15px;
    list-style-type: circle;
}

#bio h2 {
    color: orange;
    margin: 20px auto;
}

/* -----Journey----- */

#journey {
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dotted brown;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    margin: 50px auto;
    background-color: lightcyan;
}

#journey h2 {
    color: brown;
    margin: 20px auto;
}

table {
    width: 80%;
    text-align: left;
    border-spacing: 15px;
}

table th {
    width: 30%;
}

/* -----Skills----- */

#skills {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills h2 {
    color: black;
}

#skills-wrap {
    width: 90%;
    display: flex;
    min-height: 150px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#skills-container {
    margin: auto 20px;
    padding: 10px;
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#skills-text {
    font-size: 1.5em;
}

#skills-bar {
    width: 70%;
    height: 20px;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#bar-percentage {
    height: 19px;
    background-color: green;
}

.html-percentage {
    width: 60%;
}

.css-percentage {
    width: 80%;
}

.js-percentage {
    width: 50%;
}

.python-percentage {
    width: 50%;
}


/* -----Projects----- */

#projects {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#wrap-projects {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template: 300px / repeat(3, 1fr);
    gap: 20px 0px;
    justify-content: center;
    justify-items: center;
    background-color: white;
    border-radius: 10px;
}

#project-widnow {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

#project-view {
    height: 75%;
    width: 100%;
}

#project-name {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects h2 {
    font-size: 3em;
    color: black;
}

.project-one {
    background-image: url("figures/day-predictor-view.png");
    background-size: cover;
    background-position: center;
}

.name-one {
    background-color: rgba(0, 0, 0, 0.7)
    
}

.name-one a {
    text-decoration: none;
    color: white;
}

/* -----Contact----- */

#contact {
    position: relative;
    margin-top: 50px;
    background-color: grey;
    color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact * {
    padding: 10px;
}

#linkedin-icon {
    height: 20px;
    width: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    transition-duration: 200ms;
}

#linkedin-icon:hover {
    background-color: darkgrey;
    transition-duration: 200ms;
}


/* -----Footer----- */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* DAY PREDICTOR */

#explaination {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explaination * {
    margin: 30px auto;
}

#explaination h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: navy;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 80%;
    min-height: 200px;
}

#get-prediction {
    width: 300px;
    height: 50px;
    background-color: orange;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    border-radius: 10px;
    transition-duration: 200ms;
}

#get-prediction:hover {
    cursor: pointer;
    background-color: orangered;
    transition-duration: 200ms;
}

#get-prediction:active {
    background-color: cyan;
    transition-duration: 200ms;
}

/* -----Medias----- */

@media only screen and (min-width: 850px) and (max-width: 1200px) {
    #wrap-projects {
        grid-template: repeat(2, 300px) / repeat(2, 1fr);
    }
}

@media only screen and (max-width: 849px) {
    #wrap-projects {
        grid-template: repeat(3, 300px) / repeat(1, 1fr);
    }
}

@media only screen and (max-width: 750px) {
    #explaination h2 {
        font-size: 1em;
    }
    #explaination h1 {
        font-size: 1.8em;
    }
    #get-prediction {
        width: 200px;
        height: 35px;
        font-size: 1em;
    }
}

