* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    background-color: white;
}

h2 {
    max-width: 80%;
    text-align: center;
    color: black;
}


/* -----Header----- */

header {
    position: relative;
    width: 100%;
    min-height: 80px;
} 

header h2 {
    font-size: 30px;
    color: white;
    padding: 5px;
}

.navbar {
    background-color: white;
}

.collapse {
    display: flex;
    justify-content: center;
}


nav {
    min-height: 80px;
}

header li {
    padding: 20px;
    transition-duration: 200ms;
}

header li:hover {
    background-color: rgb(235, 235, 235);
    transition-duration: 200ms;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}


/* -----Main structure----- */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    /*height: 100vh;*/
    padding-bottom: 80px;
}

.line-1 {
    border: 1px dotted rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: 0 auto;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

.bold {
    font-weight: 800;
}

/* -----Intro----- */
/*
#hero {
    background-image: url("./figures/hero-background.avif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay * {
    position: relative;
} 

#overlay h1, h2 {
    z-index: 10;
    color: white !important;
}

h1 {
    font-size: 3rem;
}

#headline-wrap {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/

/*----- New Hero---*/

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*------Animation----*/

#animation {
    background-color: rgb(164, 229, 255);
    border-radius: 40% 50% 30% 40%;
    width: 60%;
    max-width: 600px;
    aspect-ratio: 1.4 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

.border-thick {
    border: 4px solid black;
}

@media only screen and (max-width: 1000px) {
    .border-thick {
        border: 2px solid black;
    }
}

.an-space {
    width: 70%;
    height: 97%;
}

.an-floor {
    width: 90%;
    height: 3%;
    background-color: black;
}

.an-on-table {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.an-coffee-cup {
    position: relative;
    width: 15%;
    height: 35%;
    display: flex;
    align-items: center;
}

.an-mug {
    height: 100%;
    width: 70%;
    border-radius: 0 0 20% 20%;
    background-color: orange;
    z-index: 1;
}

.an-mug-handle {
    height: 70%;
    width: 30%;
    border-radius: 0 50% 50% 0;
    border: 8px solid black;
    border-left: 0;
}

.steam {
    position: absolute;
    height: 40%;
    aspect-ratio: 1 / 1;
    margin-top: -50%;
    margin-left: 20%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    z-index: 0;
}

.an-steam-1 {
    animation: an-steam-1 4s ease-out infinite;
}

.an-steam-2 {
    animation: an-steam-2 4s ease-out 0.5s infinite;
}

.an-steam-3 {
    animation: an-steam-3 4s ease-out 1s infinite;
}

.an-steam-4 {
    animation: an-steam-4 4s ease-out 1.5s infinite;
}

@keyframes an-steam-1 {
    0%{
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 1;
    }
    100%{
        transform: translateY(-60px) translateX(-5px) scale(1);
        opacity: 0;
    }
}

@keyframes an-steam-2 {
    0%{
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 1;
    }
    100%{
        transform: translateY(-60px) translateX(5px) scale(1);
        opacity: 0;
    }
}

@keyframes an-steam-3 {
    0%{
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 1;
    }
    100%{
        transform: translateY(-60px) translateX(-8px) scale(1);
        opacity: 0;
    }
}

@keyframes an-steam-4 {
    0%{
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 1;
    }
    100%{
        transform: translateY(-60px) translateX(3px) scale(1);
        opacity: 0;
    }
}

.an-computer {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.an-screen {
    width: 90%;
    height: 90%;
    border-bottom: 0;
    border-radius: 5% 5% 0 0;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}

.an-screen-inside {
    width: 90%;
    height: 90%;
    border-radius: 5% 5% 5% 5%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.an-screen-inside p {
    font-size: 1.2vw;
    text-align: center;
    padding: 5%;
    margin-bottom: -2%;
}

.an-keyboard {
    width: 100%;
    height: 10%;
    border-bottom: 0;
    background-color: blanchedalmond;
}

.an-books {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.an-book-space {
    height: 34%;
    width: 100%;
}

.an-book {
    width: 80%;
    height: 100%;
    background-color: goldenrod;
}

.an-book-space:nth-child(1) {
    display: flex;
    justify-content: start;
}

.an-book-space:nth-child(2) {
    display: flex;
    justify-content: end;
}

.an-book-space:nth-child(3) {
    display: flex;
    justify-content: center;
}

.an-table {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brown {
    background-color: #8a7376;
}

.an-table-desk {
    width: 100%;
    height: 10%;
}

.an-under-table {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: start;
}

.an-leg {
    height: 100%;
    width: 8%;
    border-top: 0;
    border-bottom: 0;
}

.an-drawer-long {
    height: 20%;
    width: 60%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.an-drawers {
    height: 100%;
    width: 32%;
}

.an-drawer {
    width: 100%;
    height: 34%;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.an-drawer:nth-child(1) {
    border-top: 0;
}

.handle {
    width: 30%;
    height: 3px;
}

.shadow {
    box-shadow: inset 0px 5px 1px 1px rgba(0,0,0,0.2);
}

/*---- Headings ----*/

.heading-main {
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.heading-main h2{
    color: black !important;
    font-size: 3vw;
}

.heading-main h1, h2 {
    margin: 0;
    padding: 2%;
    margin-left: 0;
}

.heading-main h1 {
    font-size: 5.5vw;
    margin-top: -20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 750px) {
    .hero {
        flex-direction: column-reverse;
    }

    .heading-main {
        align-items: center;
        height: 30vh;
    }

    .heading-main h1 {
        font-size: 7vw;
    }

    .heading-main h2 {
        font-size: 4vw;
    }

    .an-screen-inside p {
        font-size: 3vw
    }

    .an-mug-handle {
        border: 6px solid black;
    }

}

@media only screen and (max-width: 600px) {
    #animation {
        width: 80%;
    }

    .heading-main h1 {
        font-size: 10vw;
    }

    .heading-main h2 {
        font-size: 5vw;
    }

    .an-screen-inside p {
        font-size: 4vw
    }

    .steam {
        height: 60%;
    }

    .an-mug-handle {
        border: 5px solid black;
    }
}


/* -----Bio----- */

#bio-wrap-no-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bio-wrap {
    position: relative;
    margin: 50px auto;
    width: 95%;
    max-width: 1200px;
    min-height: 400px;
    display: flex;
}

#bio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#bio-pic {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hana-pic {
    height: 100%;
    max-height: 400px;
    width: auto;
    image-resolution: 10dpi;
}

#bio #headline-underline {
    width: 90%;
    border: 1px solid orange;
}

#bio a {
    color : red;
}

#bio ul {
    width: 90%;
}

#bio li {
    margin: 15px;
    list-style-type: none;
}

#bio h2 {
    color: orange !important;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 10%;
    font-size: 2em;
}

.bold-text {
    font-size: 1.2em;
    font-weight: 600;
}



/* -----Journey----- */

#journey h2 {
    color: brown !important;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 10%;
    font-size: 2em;
}

#journey #headline-underline {
    margin: 20px auto;
    width: 90%;
    border: 1px solid brown;
}

#journey-wrap {
    margin: 50px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

#journey-start, #journey-end {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#journey-start p, #journey-end p {
    width: 80%;
}

#journey-bar-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59%;
}

#journey-bar-empty {
    width: 100%;
    height: 20px;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
}

#journey-bar-full {
    width: 10%;
    height: 100%;
    background-color: brown;
    transition-duration: 2000ms;
    border-radius: 15px;
}



/* -----Skills----- */


#skills h2 {
    color: brown !important;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 10%;
    font-size: 2em; 
} 

#skills #headline-underline {
    margin: 20px auto;
    width: 90%;
    border: 1px solid brown;
}

#skills-wrap {
    width: 90%;
    display: grid;
    grid-template: repeat(2, 100px) / repeat(3, 1fr);
    gap: 4em;
    margin: 30px auto;
    justify-items: center;
}

#skills-wrap img {
    height: 100px;
    width: auto;
    margin: 10px;

}
/*
#skills-container {
    margin: auto 20px;
    padding: 10px;
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#skills-text {
    font-size: 1.5em;
}

#skills-bar {
    width: 70%;
    height: 20px;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
}

#bar-percentage {
    height: 19px;
    background-color: green;
    border-radius: 15px;
}

.html-percentage {
    width: 80%;
}

.css-percentage {
    width: 80%;
}

.js-percentage {
    width: 50%;
}

.python-percentage {
    width: 50%;
}

.react-percentage {
    width: 15%;
}

.node-express-percentage {
    width: 30%;
}
*/

/* -----Projects----- */

#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
}


#wrap-projects {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-div {
    position: relative;
    width: 100%;
    height: auto;
    /*margin: 0 0 50px 50px;*/
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.project-group {
    position: absolute;
    right: 15px;
    bottom: 3px;
    color:rgba(255, 255, 255, 0.6);
    font-size: 4vw;
    font-weight: 800;
}

.testing-div {
    width: 100%;
    height: 60px;
}

.project-front-end {
    background-color: rgb(164, 229, 255);
}

.project-back-end {
    background-color: rgb(150, 233, 197);
}

.project-sub-div-left {
    width: 35%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.project-sub-div-right {
    width: 60%;
    margin: 5%;
}

.project-sub-div-left h3 {
    padding: 5px;
}

.project-view {
    width: 80%;
    aspect-ratio: 1.5/1.2;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition-duration: 200ms;
}

.project-view:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 200ms;
}

@media only screen and (max-width: 750px) {
    .project-div {
        flex-direction: column;
    }
    .project-sub-div-left, .project-sub-div-right {
        width: 80%;
    }

    .project-view {
        width: 60%;
    }
}

/* -----Contact----- */

#contact {
    position: relative;
    margin-top: 50px;
    margin-bottom: -130px;
    background-color: grey;
    color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact * {
    padding: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.icon {
    height: 30px;
    width: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    transition-duration: 200ms;
    box-sizing: content-box;
}

.icon:hover {
    background-color: darkgrey;
    transition-duration: 200ms;
}


/* -----Footer----- */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /*text-align: center;*/
}

/***************** PROJECTS *******************/
/**********************************************/

/* DAY PREDICTOR */

#explaination {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explaination * {
    margin: 30px auto;
}

#explaination h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: navy;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 80%;
    min-height: 200px;
}

#get-prediction {
    width: 300px;
    height: 50px;
    background-color: orange;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    border-radius: 10px;
    transition-duration: 200ms;
}

#get-prediction:hover {
    cursor: pointer;
    background-color: orangered;
    transition-duration: 200ms;
}

#get-prediction:active {
    background-color: cyan;
    transition-duration: 200ms;
}

/* ------Number MEMORY GAME------*/


.memory-game-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.memory-game-page h2 {
    color: black;
}

#memory-game-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    overflow: auto;
}

#memory-game-start {
    width: 150px;
    height: 40px;
    background-color: orange;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: 10px;
    transition-duration: 200ms;
}
#memory-game-start:hover {
    cursor: pointer;
    background-color: orangered;
    transition-duration: 200ms;
}

#submitInput {
    width: 200px;
    height: 50px;
    background-color: yellowgreen;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    border-radius: 10px;
    transition-duration: 200ms;
}

#submitInput:hover {
    cursor: pointer;
    background-color: green;
    transition-duration: 200ms;
}

#go {
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    border-radius: 10px;
    transition-duration: 200ms;
    visibility: collapse;
}

#go:hover {
    cursor: pointer;
    background-color: green;
    transition-duration: 200ms;
}

#buttons {
    display: flex;
}

input {
    width: 300px;
    height: 30px;
    font-size: 1.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#appear-after-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    visibility: collapse;
}

#appear-after-start * {
    margin: 10px;
}


#user-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#user-input * {
    margin: 10px;
}

#numbers-arr-par {
    font-size: 2em;
    background-color: lemonchiffon;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*---- Gallery ----*/

.gallery-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gallery-page h1 {
    text-align: center;
    margin-top: 40px;
}

#gallery-wrap {
    display: grid;
    grid-template: repeat(11, 100px) / repeat(6, 1fr);
    gap: 10px 10px;
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;
    
}

.gallery-window {
    background-size: cover;
}

.window-one {
    grid-area: 1 / 1 / 4 / 4 ;
    background-image: url('gallery/valencia-1.jpeg');
}

.window-two {
    grid-area: 1 / 4 / 3 / 6 ;
    background-image: url('gallery/valencia-2.jpeg');
}

.window-three {
    grid-area: 1 / 6 / 3 / 7 ;
    background-image: url('gallery/valencia-3.jpeg');
}

.window-four {
    grid-area: 3 / 4 / 4 / 5;
    background-image: url('gallery/valencia-4.jpeg');
}

.window-five {
    grid-area: 3 / 5 / 4 / 6;
    background-image: url('gallery/valenica-5.jpeg');
}

.window-six {
    grid-area: 3 / 6 / 4 / 7;
    background-image: url('gallery/valencia-6.jpeg');
}

.window-seven {
    grid-area: 4 / 1 / 9 / 3;
    display: flex;
    justify-content: cenetr;
    align-items: center;
    font-size: 1em;
    padding: 15px;
    text-align: justify;
    line-height: 1.8em;
}

.window-eight {
    grid-area: 4 / 3 / 7 / 7;
    background-image: url('gallery/valencia-8.jpeg');
}

.window-nine {
    grid-area: 7 / 3 / 9 / 5;
    background-image: url('gallery/valencia-9.jpeg');
}

.window-ten {
    grid-area: 7 / 5 / 9 / 7;
    background-image: url('gallery/valencia-10.jpeg');
}

.window-eleven {
    grid-area: 9 / 1 / 12 / 4;
    background-image: url('gallery/valencia-11.jpeg');
}

.window-twelve {
    grid-area: 9 / 4 / 12 / 7;
    background-image: url('gallery/valencia-12.jpeg');
}

/* ---- Medias for Gallery only ---- */

@media only screen and (min-width: 650px) and (max-width: 1100px) {
    #gallery-wrap {
        grid-template: repeat(6, 250px) / repeat(2, 1fr);
    }

    .window-one {
        grid-area: 1 / 1 / span 1 / span 1 ;
    }

    .window-two {
        grid-area: 1 / 2 / span 1 / span 1 ;
    }

    .window-three {
        grid-area: 2 / 1 / span 1 / span 1 ;
    }

    .window-four {
        grid-area: 2 / 2 / span 1 / span 1 ;
    }

    .window-five {
        grid-area: 3 / 1 / span 1 / span 1 ;
    }

    .window-six {
        grid-area: 3 / 2 / span 1 / span 1 ;
    }
    .window-seven {
        grid-area: 4 / 1 / span 1 / span 1 ;
        font-size: 0.7em;
        line-height: 1.3em;
    }

    .window-eight {
        grid-area: 4 / 2 / span 1 / span 1 ;
    }

    .window-nine {
        grid-area: 5 / 1 / span 1 / span 1 ;
    }

    .window-ten {
        grid-area: 5 / 2 / span 1 / span 1 ;
    }

    .window-eleven {
        grid-area: 6 / 1 / span 1 / span 1 ;
    }
    .window-twelve {
        grid-area: 6 / 2 / span 1 / span 1 ;
    }
}

@media only screen and (max-width: 650px) {
    #gallery-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gallery-window {
        margin: 10px;
        width: 95%;
        height: 250px;
    }

    .window-seven {
        height: auto;
        font-size: 0.9em;
        line-height: 1.4em;
    }
}

/* -----Calculator----- */

#calculator-object {
    position: relative;
    margin: 50px auto;
    width: 300px;
    height: 600px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

#display-whole {
    margin: auto;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;
}

#calc-user-input {
    margin-right: 10%;
    margin-bottom: 10px;
    font-size: 1em;
    height: 1.4em;
}

#calc-result {
    margin-right: 10%;
    font-size: 1.8em;
}

#buttons-all {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttons-line {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.calc-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    font-size: 1.8em;
}

.calc-button:hover {
    cursor: pointer;
}

#button-0 {
    width: 125px;
    border-radius: 40%;
}

#button-plus, #button-minus, #button-divide, #button-times {
    background-color: aqua;
}

#button-equal {
    background-color: orange;
}

/* -----Quiz app----- */

#quiz-wrap {
    position: relative;
    margin-top: 100px;
    min-height: 80%;
    width: 60%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid lemonchiffon;
}

#quiz-headline {
    font-size: 2em;
    text-align: center;
    margin-top: 30px;
    color: orangered;
}

#quiz-second-headline {
    color: black;
    margin: 20px auto;
    font-size: 1.2em;
    
}

#quiz-page-numbers {
    margin: 20px auto;
    text-align: center;
}

#quiz-question {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 1.5em;
    text-align: center;
}

#quiz-answers {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#quiz-answers input {
    width: 20px;
}

#quiz-answers label {
    width: 60%;
}

#quiz-answers label:hover {
    cursor: pointer;
}

.quiz-answer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 50px;
}


#quiz-buttons {
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#quiz-reset, #quiz-next {
    font-size: 1.2em;
    padding: 5px;
    background-color: orange;
    border-radius: 5px;
    width: 150px;
}

#quiz-reset:hover, #quiz-next:hover {
    cursor: pointer;
}


.evaluation-form {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ----- Joke Generator App ---- */

.joke-generator-page, .log-in-page, .web-scraper-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    margin-top: 100px;
}

.video {
    width: 60%;
    height: auto;
    margin: 10px;
}

@media only screen and (max-width: 750px) {
    .video {
        width: 95%;
    }
}

/* -----Medias only for quiz----- */

@media only screen and (max-width: 550px) {
    #quiz-headline {
        font-size: 1.2em;
    }

    #quiz-second-headline {
        font-size: 1em;
    }

    #quiz-question {
        font-size: 1em;
    }

    #quiz-answers input {
        width: 10px;
    }

    #quiz-answers label {
        font-size: 0.8em;
    }

    #quiz-reset, #quiz-next {
        font-size: 0.8em;
        width: 80px;
    }

    #quiz-wrap {
        width: 90%;
    }
}



/* -----Medias----- */

@media only screen and (min-width: 850px) and (max-width: 1200px) {
    #wrap-projects {
        grid-template: repeat(3, 300px) / repeat(2, 1fr);
    }
}

@media only screen and (max-width: 849px) {
    #wrap-projects {
        grid-template: repeat(5, 300px) / repeat(1, 1fr);
    }
}

@media only screen and (max-width: 750px) {
    #explaination h2 {
        font-size: 1em;
    }
    #explaination h1 {
        font-size: 1.8em;
    }
    #get-prediction {
        width: 200px;
        height: 35px;
        font-size: 1em;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1120px) {
    #skills-wrap {
        grid-template: repeat(3, 100px) / repeat(2, 1fr);
    }

    #skills-text {
        font-size: 1.2em;
    }
}


@media only screen and (max-width: 700px) {
    #skills-wrap {
        grid-template: repeat(6, 100px) / 1fr;
    }

    .to-hide {
        display: none;
    }
    
    h2 {
        font-size: 1.5em;
    }
    .minuses {
        visibility: collapse;
    }

    #skills-text {
        font-size: 1.2em;
    }
/*
    header nav a {
        font-size: 1em;
    }*/
}

@media only screen and (max-width: 530px) {
    header nav a {
        font-size: 1.1em;
    }/*
    header ul {
        visibility: collapse;
    } */

    header a {
        padding: 10px;
    }

    h1 {
        font-size: 2.2em;
    }
}


@media only screen and (max-width: 700px) {
    #bio-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #bio-text {
        width: 100%;
    }

    #journey-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 200px;
    }

    #journey-start, #journey-end, #journey-bar-field {
        width: 100%;
    }
}